{% extends 'base.html' %}
{% block content %}
<h2>Lista de torneos</h2>
<table>
  <tr>
    <th>Nombre</th><th>Juego</th><th>Inicio</th><th>Fin</th><th>Prize pool</th><th>Cupo</th>
  </tr>
  {% for t in tournaments %}
  <tr>
    <td><a href="{{ url_for('tournament_detail', tournament_id=t.tournament_id) }}">{{ t.name }}</a></td>
    <td>{{ t.game_title }}</td>
    <td>{{ t.start_date }}</td>
    <td>{{ t.end_date }}</td>
    <td>USD {{ t.prize_pool_usd }}</td>
    <td>{{ t.max_teams }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
